body {
    font-family: Poppins, sans-serif;
    font-size: 18px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    background-color: #0B8CFF;
    color: white;
    text-align: center;
    padding: 15px;

}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}
.site-title {
    color: #ff6600;
}

#my-image {
    box-shadow: 0px 0px 2px 1px black;
}

ul {
    list-style-type: square;
}

ul li:nth-child(odd) {
    background-color: #d2ebff;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav a {   
    text-decoration: none;
    color: white;
    padding: 10px;
    display: inline-block;
    background-color: #1068c1;
    border: 1px solid white;
    border-radius: 5px;
    }

nav a:hover, nav a:focus {
    background-color: #d2ebff;
    color: black;
}
